<!DOCTYPE html>
<html>
    <head>
       <style>
           body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
            }
       </style>
    </head>
    <body>
       <p>PenPal reLOADED is a new twist on an old concept. Unlike other pen pal approaches, we allow you to connect with people who have similar interests and tastes that allow you to expand your communication outside of your normal friend circle and learn more about the world around you.</p>
       <div class="container">
             <div class="row">
                <div class="col-sm-4">
                    <h3><font color="white">Column 1</font></h3>
                    <p><font color="white">So...why does this exist?</font></p>
                    <p><font color="white">Well...its for a class project...DUH!</font></p>
                </div>
        
                <div class="col-sm-4">
                    <h3><font color="white">Creator?</font></h3>
                    <p><font color="white">A Cool Chia at the University of Pittsburgh</font></p>
                    <p><font color="white">Any other tidbits? eh..not at the moment</font></p>
                </div>
                
                <div class="col-sm-4">
                    <h3><font color="white">Something cool should go here</font></h3>   
                     <p><font color="white">Whenever I think of something good</font></p>
                     <p><font color="white">But for now...Ive got nothin</font></p>
                </div>
            </div>
        </div>
    </body>
</html>