<!DOCTYPE html>
<html>
    <head>
       <style>
           body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
            }
       </style>
    </head>
    
    <body>
        <h1><font color="white"><center>ABOUT PenPal reLOADED<center></font></h1>
        <div>
        <font color="white"><p>PenPal reLOADED is a new twist on an old concept. Unlike other pen pal approaches, we allow you to connect with people who have similar interests and tastes that allow you to expand your communication outside of your normal friend circle and learn more about the world around you.</p></font>
        </div>
        
      <div class="container">
      
             <div class="row">
             
                <div class="col-sm-4">
                    <h3><font color="white">Concept</font></h3>
                    <p><font color="white">Sometimes you need to mingle with new people and find new interests</font></p>
                    <p><font color="white">Or...get re-interested in an old interst :) </font></p>
                </div>
        
                <div class="col-sm-4">
                    <h3><font color="white">Why Does This Exist?</font></h3>
                    <p><font color="white">A Cool Chica at the University of Pittsburgh had an assignment</font></p>
                    <p><font color="white">INFSCI 2560 Web Technologies & Standards was the course</font></p>
                </div>
                
                <div class="col-sm-4">
                    <h3><font color="white">What Next?</font></h3>   
                     <p><font color="white">Have A Great Summer!</font></p>
                </div>
            </div>
        </div>
    </body>
</html>