<!DOCTYPE html>
<html>
    <head>
        <title>Arts and Crafts Home</title>
                <style>
          body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
          }
        </style>
    </head>
    <body>
        <h1 data-th-inline="text"><center><font color="white">Wonderful World of Arts and Crafts</font></center></h1>
         <center>
            <iframe src="//giphy.com/embed/cE0xKMkoSeHuw" width="480" height="359.6694214876033" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-addams-family-knitting-morticia-cE0xKMkoSeHuw">via GIPHY</a></p>
         </center>
        <div>
        <font color="white">
          <table style="border: 6px solid red">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Artscrafts Type</th>
                </tr>     
                <tr data-th-each="artscrafts : ${artscrafts}">
                    <td data-th-text="${artscrafts.id}"></td>
                    <td data-th-text="${artscrafts.title}"></td>
                    <td data-th-text="${artscrafts.artscraftsType}"></td>
                </tr>
           </table>
         </font>
        </div>
        
        <hr />
        <font color="white">
        Add Artscrafts<br />
        <form data-th-action="@{/artscrafts/add}" name="addArtscraftsForm" method="post">
            Title: <input type="text" name="title" /><br />
            Artscrafts Type:<br />
            <input type="radio" name="artscraftsType" value="Other" checked="checked" /> Other<br />
            <input type="radio" name="artscraftsType" value="Knitting" /> Knitting<br />
            <input type="radio" name="artscraftsType" value="Crocheting" /> Crocheting<br />
            <input type="radio" name="artscraftsType" value="Pottery" /> Pottery<br />
            <input type="submit" value="Add Artscrafts"/>
        </form>
        </font>
        <hr />
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />
        
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
