<!DOCTYPE html>
<html lang="en">
<head>
  <title>PenPal Profile Beast</title>
  <font color="white"><h1 data-th-inline="text">Beast's Profile </h1></font>
        <style>
          body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
          }
        </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: black;
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://pitt-my.sharepoint.com/personal/jsr67_pitt_edu/_layouts/15/guestaccess.aspx?docid=12fe8d2bd2e724d609bb803e0ae8933b9&authkey=AXPv4NkNzacK0Jh0vBon1Tk">PenPal</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="interest.html">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="account.html"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">My Profile</a></p>
        <img src="https://static1.comicvine.com/uploads/scale_small/0/3529/112717-113623-beast.jpg" class="img-square" height="160" width="160" alt="Storm">
      </div>
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-primary">Pals</span>
          <span class="label label-success">Arts and Crafts</span>
          <span class="label label-info">Gaming</span>
          <span class="label label-warning">Music</span>
          <span class="label label-danger">Reading</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      <p><a href="www.facebook.com">Facebook</a></p>
      <p><a href="www.instagram.com">Instagram</a></p>
      <p><a href="www.tumblr.com">Tumblr</a></p>
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">Status: #TBT</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>     
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Rogue</p>
           <img src="http://static1.wikia.nocookie.net/__cb20130401140811/marvel-war-of-heroes/images/a/a0/Concept_rogue.png" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Hey Sugar!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Shadowcat</p>
           <img src="https://i.annihil.us/u/prod/marvel//universe3zx/images/b/bc/Shadowcat3.jpg" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Where are you Hank? I thought we were going to the movies!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Colossus</p>
           <img src="http://static.comicvine.com/uploads/original/11111/111119761/4304447-background.jpg" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Heh?! You better reschedule that @Shadowcat...Guys night out</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Shadowcat</p>
           <img src="https://i.annihil.us/u/prod/marvel//universe3zx/images/b/bc/Shadowcat3.jpg" class="img-square" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>@Colossus WHATEVER!</p>
          </div>
        </div>
      </div>     
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <a href="https://www.pottermore.com/cursed-child">
        <img src="https://www.harrypottertheplay.com/content/uploads/2016/11/facebook-image.jpg" alt="London" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>June 2017</p>
        <button class="btn btn-primary">Info</button>
      </div>      
      <div class="well">
           <a href="https://www.google.com/doodles">
        <p><img src="//www.google.com/logos/doodles/2017/payut-ngaokrachangs-88th-birthday-5092708075962368-hp2x.gif" alt="Payut Ngaokrachang’s 88th Birthday"width="125" height="200"></p>
      </div>
      <div class="well">
        <p><img source="groupon.com"></p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
     <p><font color="white">Copyright &copy; PenPal reLOADED 2017</font></p>
   
</footer>

</body>
</html>
