<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PenPal reLOADED</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, minimal-ui">
        <link href="//fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="animate.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>to PenPal reLOADED</h1>

        <p>Click <a data-th-href="@{/hello}">here</a> to see a greeting.</p>
    </body>
</html>