<!DOCTYPE html>
<html lang="en">

    <head>
    
        <h1>WELCOME</h1>
        <p>PenPal reLOADED is a new twist on an old concept. Unlike other pen pal approaches, we allow you to connect with people who have similar interests and tastes that allow you to expand your communication outside of your normal friend circle and learn more about the world around you.</p>
        <link rel="stylesheet" href="https://github.com/infsci2560sp17/full-stack-web-J-StephanieRose/blob/master/src/main/resources/templates/stylesheet/theme/home.css">
    
    </head>
    
    <body>
        <h1>Sign up or Login!</h1>
        <p>Click <a data-th-href="@{/signup}">here</a> to sign up.</p>
        <p>Click <a data-th-href="@{/Login}">here</a> to log in.</p>
        
        
            <!-- Footer -->
    <footer>
         <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; PenPal reLOADED 2017</p>
            </div>
        </div>
    </footer>

    </body>
</html>