<!DOCTYPE html>
<html>
    <head>
        <title>Hobby Home</title>
    </head>
    <body>
        <h1 data-th-inline="text">Other Interesting Hobbies!</h1>

        <div>
                  <p>Click <a data-th-href="@{/home}>here</a> to select your interest in arts and crafts.</p>
                  <p>Click <a data-th-href="@{/cooking}">here</a> to select your cooking interest.</p>
                  <p>Click <a data-th-href="@{/sports}">here</a> to select your sporting interest.</p>
                  <p>Click <a data-th-href="@{/reading}">here</a> to select your reading interest.</p>
                  <p>Click <a data-th-href="@{/volunteering}">here</a> to select your volunteer interest.</p>
                  <p>Click <a data-th-href="@{/gaming}">here</a> to select your gaming interest.</p>
                  <p>Click <a data-th-href="@{/music}">here</a> to select your musical interest.</p>
                  <p>Click <a data-th-href="@{/fitness}">here</a> to select your fitness interest.</p>
       </div>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>