<!DOCTYPE html>
<html>
    <head>
        <title>Hobby Home</title>
        <style>
          body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
          }
        </style>
        <p><left><font color="white"><a href="interest.html">Back</a></font></left></p>
        <p><right><font color="white"><a href="profile.html">My Profile</a></font></right></p>
    </head>
    <body>
        <center><font color="white"><h1 data-th-inline="text">Other Interesting Hobbies!</h1></font></center>

        <div>
                  <p><center><font color="white"><a href="artscrafts.html">Arts and Crafts</a></font></center></p>
                  <p><center><font color="white"><a href="cooking.html">Cooking</a></font></center></p>
                  <p><center><font color="white"><a href="sports.html">Sports</a></font></center></p>
                  <p><center><font color="white"><a href="reading.html">Reading</a></font></center></p>
                  <p><center><font color="white"><a href="volunteering.html">Volunteering</a></font></center></p>
                  <p><center><font color="white"><a href="gaming.html">Gaming</a></font></center></p>
                  <p><center><font color="white"><a href="music.html">Music</a></font></center></p>
                  <p><center><font color="white"><a href="fitness.html">Fitness</a></font></center></p>
       </div>
       <div>
                   <p><center><font color="white"><a href="presentation.html">INFSCI 2560 Final Presentation</a></font></center></p>
       </div>
        
   
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
                <!-- Footer -->
    <footer>
         <div class="row">
            <div class="col-lg-12">
                <p><font color="white">Copyright &copy; PenPal reLOADED 2017</font></p>
            </div>
        </div>
    </footer>
</html>