<!DOCTYPE html>

<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1>User's Hobbies!</h1>
        <background="color: solid black">

        <div>
            <p align="center">HERE ARE YOUR INTERESTS</p>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Hobby</th>
                </tr>
                <tr>
                <tr data-th-each="interest : ${interest}">
                    <td data-th-text="${interest.id}"></td>
                    <td data-th-text="${interest.title}"></td>
                    <td data-th-text="${interest.interestType}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Interest<br />
        <form data-th-action="@{/interest/add}" name="addInterestForm" method="post">
            Title: <input type="text" name="title" /><br />
            Interest Type:<br />
            <input type="radio" name="interestType" value="Other" checked="checked" /> Other<br />
            <input type="radio" name="interestType" value="ArtsCrafts" /> ArtsCrafts<br />
            <input type="radio" name="interestType" value="Cooking" /> Cooking<br />
            <input type="radio" name="interestType" value="Sports" /> Sports<br />
            <input type="submit" value="Add Interest" />
        
        
        <hr />       
         <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
            