<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1>Your Interest's</h1>

        <div>
            <p align="center">Centered Text</p>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Hobby Type</th>
                </tr>                
                <tr data-th-each="interest : ${interest}">
                    <td data-th-text="${interest.id}"></td>
                    <td data-th-text="${interest.title}"></td>
                    <td data-th-text="${interest.interestType}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        Add Hobby<br />
        <form data-th-action="@{/interest/add}" name="addDvdForm" method="post">
            Title: <input type="text" name="title" /><br />
            Workout Type:<br />
            <input type="radio" name="interestType" value="Other" checked="checked" /> Other<br />
            <input type="radio" name="interestType" value="ArtsCrafts" /> ArtsCrafts<br />
            <input type="radio" name="interestType" value="Sports" /> Sports<br />
            <input type="radio" name="interestType" value="Cooking" /> Cooking<br />
            <input type="submit" value="Add Hobby"/>
        </form>
        
        <hr />       
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>
