<!DOCTYPE html>
<html>
    <head>
        <title>Goodbye Pal! </title>
        <h1><font color="white"> Goodbye Pal!</font></h1>
          <style>
           body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
            }

    </style>
    </head>
    <body>        
        <div data-th-if="${param.error}">
            Oops! Looks like you need to try logging out again!
        </div>
        <div data-th-if="${param.logout}">
            THANKS FOR VISITING! Come back soon!
        </div>
        <P> EVERYONE CAN USE A NEW FRIEND</P>
        <center>
            <iframe src="//giphy.com/embed/jrtPehiOFs2Y0" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen>
            </iframe>
            <p><a href="https://giphy.com/gifs/zoom-jrtPehiOFs2Y0">via GIPHY</a></p>
        </center>
        <form data-th-action="@{/logout}" method="post">
            <div><label> User Name: <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign Out"/></div>
        </form>
    </body>
                    <!-- Footer -->
    <footer>
         <div class="row">
            <div class="col-lg-12">
                <p><font color="white">Copyright &copy; PenPal reLOADED 2017</font></p>
            </div>
        </div>
    </footer>
</html>