<!DOCTYPE html>
<html>
<head>
  <title>PenPal Profile</title>
  <font color="white"><h1 data-th-inline="text">Storm's Profile </h1></font>
        <style>
          body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
          }
        </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: black;
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">PenPal</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="interest.html">Home</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="account.html"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container text-center">    
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">My Profile</a></p>
        <img src="https://s-media-cache-ak0.pinimg.com/originals/94/4a/a0/944aa07610f95a01b331736c21bf1900.jpg" class="img-square" height="160" width="160" alt="Storm">
      </div>
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-primary">Pals</span>
          <span class="label label-success">Cooking</span>
          <span class="label label-info">Sports</span>
          <span class="label label-warning">Fitness</span>
          <span class="label label-danger">Reading</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      <p><a href="www.facebook.com">Facebook</a></p>
      <p><a href="www.instagram.com">Instagram</a></p>
      <p><a href="www.tumblr.com">Tumblr</a></p>
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true">Status: Feeling Blue</p>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>     
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Professor X</p>
           <a href="professorx.html"></a>
           <img src="http://images4.fanpop.com/image/photos/19600000/Professor-Xavier-Marvel-Comics-professor-charles-francis-xavier-19664768-861-1114.jpg" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>I dont know why you all buried me...Im technically still alive *sent from Cerebro*</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
          <a href="wolverine.html"></a>
           <p>Wolverine</p>
           <img src="https://s-media-cache-ak0.pinimg.com/564x/cc/5a/bd/cc5abd3f22e343c0c82cd0adafc3e0ec.jpg" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>YAHHHHSSSSS Professor X is back!!!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Mystique</p>
           <a href="mystique.html"></a>
           <img src="http://shehulk.sliverofice.com/wp-content/uploads/2010/10/mystique.jpg" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>I ABSOLUTELY STILL HATE EACH AND EVERYONE OF YOU!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Henry Philip "Beast" McCoy</p>
           <a href="beast.html"></a>
           <img src="https://static1.comicvine.com/uploads/scale_small/0/3529/112717-113623-beast.jpg" class="img-square" height="100" width="100" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
            <p>Why haven't you died already @Mystique #SavageSeventeen</p>
          </div>
        </div>
      </div>     
    </div>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <a href="https://www.pottermore.com/cursed-child"></a>
        <img src="https://www.harrypottertheplay.com/content/uploads/2016/11/facebook-image.jpg" alt="London" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>June 2017</p>
        <button class="btn btn-primary">Info</button>
      </div>      
      <div class="well">
           <a href="https://www.google.com/doodles"></a>
        <p><img src="//www.google.com/logos/doodles/2017/payut-ngaokrachangs-88th-birthday-5092708075962368-hp2x.gif" alt="Payut Ngaokrachang’s 88th Birthday"width="125" height="200"></p>
      </div>
      <div class="well">
        <p><img source="groupon.com" alt="groupon" /></p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
     <p><font color="white">Copyright &copy; PenPal reLOADED 2017</font></p>
   
</footer>

</body>
</html>