<!DOCTYPE html>
<html>
    <head>
        <title>Reading Home</title>
                <style>
          body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
          }
        </style>
    </head>
    <body>
        <h1 data-th-inline="text"><center><font color="white">Wonderful World of Reading</font></center></h1>

        <div>
        <font color="white">
            <table style="border: 6px solid yellow">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Reading Type</th>
                </tr>                
                <tr data-th-each="reading : ${reading}">
                    <td data-th-text="${reading.id}"></td>
                    <td data-th-text="${reading.title}"></td>
                    <td data-th-text="${reading.readingType}"></td>
                </tr>
            </table>
            </font>
        </div>
        
        <hr /><font color="white">
        Add Reading<br />
        <form data-th-action="@{/reading/add}" name="addReadingForm" method="post">
            Title: <input type="text" name="title" /><br />
            Reading Type:<br />
            <input type="radio" name="readingType" value="Other" checked="checked" /> Other<br />
            <input type="radio" name="readingType" value="Biography" /> Biography<br />
            <input type="radio" name="readingType" value="Fiction" /> Fiction<br />
            <input type="radio" name="readingType" value="NonFiction" /> NonFiction<br />
            <input type="submit" value="Add Reading"/>
        </form></font>
        
        <hr />
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />
        
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
                    <!-- Footer -->
    <footer>
         <div class="row">
            <div class="col-lg-12">
                <p><font color="white">Copyright &copy; PenPal reLOADED 2017</font></p>
            </div>
        </div>
    </footer>
</html>
