<!DOCTYPE html>
<html>
    <head>
        <title>Sports Home</title>
                        <style>
          body {
            background-image: url("https://www.tomswallpapers.com/large/201507/28675.jpg");
          }
        </style>
        <p><left><font color="white"><a href="interest.html">Back</a></font></left></p>
        <p><right><font color="white"><a href="profile.html">My Profile</a></font></right></p>
    </head>
    <body>
        <h1 data-th-inline="text"><center><font color="white">Wonderful World of Sports</font></center></h1>
        <center>
        <iframe src="//giphy.com/embed/26xByC1YWRr5MafyU" alt="gaga superbowl">
        </iframe>
        <p><a href="https://giphy.com/gifs/nfl-football-26xByC1YWRr5MafyU">via GIPHY</a></p>
        </center>
        <div>
        <font color="white">
           <table style="border: 6px solid green">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Sports Type</th>
                </tr>                
                <tr data-th-each="sports : ${sports}">
                    <td data-th-text="${sports.id}"></td>
                    <td data-th-text="${sports.title}"></td>
                    <td data-th-text="${sports.sportsType}"></td>
                </tr>
          </table>
          </font>
        </div>
        
        <hr /><font color="white">
        Add Sports<br />
        <form data-th-action="@{/sports/add}" name="addSportsForm" method="post">
            Title: <input type="text" name="title" /><br />
            Artscrafts Type:<br />
            <input type="radio" name="sportsType" value="Other" checked="checked" /> Other<br />
            <input type="radio" name="sportsType" value="Baseball" /> Baseball<br />
            <input type="radio" name="sportsType" value="Basketball" /> Basketball<br />
            <input type="radio" name="sportsType" value="Gymnastics" /> Gymnastics<br />
            <input type="submit" value="Add Sports"/>
        </form>
        
        <hr /></font>
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />
        
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
                    <!-- Footer -->
    <footer>
         <div class="row">
            <div class="col-lg-12">
                <p><font color="white">Copyright &copy; PenPal reLOADED 2017</font></p>
            </div>
        </div>
    </footer>
</html>
